%% -*- mode: erlang -*-
[
 {nxo_db,
  [{pools, [#{name => db_one,
              host => "db_one",
              user => "db_one_user",
              pass => "db_one_pass",
              database => "db_one"},
            #{name => db_two,
              host => "db_two",
              user => "db_two_user",
              pass => fun pool_SUITE:password/1,
              database => "db_two"}]},
   {retries, 3},
   {retry_sleep, 400},
   {default_return, auto},
   {ddl_source, [{priv_dir, nxo_db, "test_ddl"}]},
   {sql_source, [{priv_dir, nxo_db, "test_sql"}]}
  ]}
].
