%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
         {pgpool, "2.1.0"}
       , {epgsql, "4.5.0"}
       ]}.

{relx, [{release, {nxo_db, {git,short}}, [pgpool, nxo_db]}]}.

{shell, [
    {apps, [pgpool, nxo_db]}
]}.

{ct_opts, [{dir, ["test"]},
           {sys_config, "test/app.config"},
           {verbose, false}
          ]}.
